@charset "UTF-8";
/* CSS Document */

button.icon-button,
.button.icon-button,
.icon-button {
    border: none;
    height: 22px;
    width: 22px;
    padding: 1px;
    margin: 0;
    vertical-align: middle;
    background: transparent;
}

button.icon-button img,
.button.icon-button img,
.icon-button img {
    height: inherit;
    width: inherit;
    vertical-align: middle;
}
