@charset "UTF-8";
/* CSS Document */


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*** Events Calendar Styling ***/


.pub_date, .event_date {
	font-style: italic;
}

.calendar-day,
.calendar-day-spacer {
    display: inline-block;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #888888;
    margin-bottom: 0.5rem;
	text-transform: uppercase;
}

.calendar-day:not(.secondary),
a.calendar-day {
	background: 1px 3px url('../graphics/expand-icon.gif') no-repeat;
    background-position: 1px -14px;
	padding-left: 17px;
}

.secondary,
.calendar-day.secondary {
	background-image: none;
	padding-left: 0;
	text-transform: none;
	font-style: italic;
}

a.calendar-day:hover {
    color: #666666;
    background-position: 1px -14px;
}

.calendar-day-desc,
.dialog_content {
    display: none;
}

.pub_date.inline .posted-on,
body:not(.search-results) article:not(.sticky) .pub_date.inline .posted-on {
	display: inline-block;
}



/*** Buttons ***/
button.icon-button,
.icon-button {
    border: none;
    height: 22px;
    width: 22px;
    padding: 1px;
    margin: 0;
    vertical-align: middle;
    background: transparent;
}

button.icon-button img,
.icon-button img {
    height: inherit;
    width: inherit;
    vertical-align: middle;
}
